URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.fading: 20
URxvt.urgentOnBell: true
URxvt.visualBell: true
URxvt.loginShell: true
URxvt*saveLines: 1000
URxvt.internalBorder: 3
URxvt.lineSpace: 0
URxvt.intensityStyles: false

URxvt.allow_bold: false
URxvt*font: 		xft:Adobe Helvetica:pixelsize=12
URxvt*boldFont:		xft:Adobe Helvetica:pixelsize=12
URxvt.transparent: 	true
URxvt.shading: 		10
URxvt*letterSpace: -1
URxvt.scrollStyle: rxvt
URxvt.scrollBar_right:	false
URxvt.scrollBar: 	false

! URxvt Perl extensions
URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 1
URxvt.urlLauncher: firefox

! URxvt Cursor
URxvt.pointerBlank: true
URxvt*cursorBlink: true

! Color Scheme
#define S_base03        #000000
#define S_base02        #323461
#define S_base01        #87ae00
#define S_base00        #aa855b
#define S_base0         #de9d2b
#define S_base1         #00bc9f
#define S_base2         #796442
#define S_base3         #e7be7d

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #533e06
#define S_orange        #cda567
#define S_red           #ae0909
#define S_magenta       #e17a00
#define S_violet        #f094f3
#define S_blue          #a0804d
#define S_cyan          #ddb770
#define S_green         #739401

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15: 				S_base3

! ROFI
!---------------------------------

rofi.font				: monospace 18
rofi.modi				: window,run,ssh
rofi.ssh-client			: ssh
rofi.ssh-command		: {termianl} -e {ssh-client} {host}
rofi.disable-history	: true
rofi.run-shell-command	: {termianl} -e cmd
rofi.opacity			: 20
rofi.bw					: 0
rofi.eh					: 2
rofi.lines				: 1
rofi.case-sensitive		: false
rofi.separator-style	: solid
rofi.hide-scrollbar		: true


!			   'bg'	    'fg'     'bgalt'  'hlbg'      'hlf'
rofi.color-normal	: #6b6c7c,  #e7be7d, #aa855b, #bc8a4e,	#ddb770 
rofi.color-urgent	: #ddb770,  #000000, #000000, #d094e4,	#000000 
rofi.color-active	: #011015,  #5f819d, #000000, #5f819d,	#000000	

!			'background' 'border'
rofi.color-window	: #000000,   #6b6c7c
